body {
  background-image: url("fotografi/uriel-xtgONQzGgOE-unsplash\ 1.png");
  height: 100%;
  box-sizing: border-box;
  margin: 0;
}

html {
 background-color: #0D235E;
 height: 118%;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}


header {
    width: 828px;
    height: 66px;
    top: 62px;
    left: 546px;
    border-radius: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #FEFEFE;
    align-items: center;
    position: relative;
}

#getLocationWeather {
    background-color: #003D9F;
    width: 145px;
    height: 46px;
    border-radius: 60px;
    padding: 15px 30px;
    gap: 10px;
    font-family: "Urbanist", serif;
    border: none;
    cursor: pointer;
}

#getLocationWeather span {
    font-family: "Urbanist", serif;
    width: 85px;
    height: 16px;
    font-size: 16px;
    line-height: 16px;
    color: #FEFEFE;
    white-space: nowrap;
}

.logo {
    width: 120px;
    height: 24.66px;
}

.text-2 {
    width: 128px;
    height: 20px;
    top: 620px;
    left: 896px;
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    position: relative;
}

.title {
    width: 621px;
    height: 116px;
    top: 330px;
    left: 666px;
    position: absolute;
    font-family: "Urbanist", serif;
    font-weight: 700;
    font-size: 54px;
    line-height: 58px;
    text-align: center;
    color:#FFFFFF
}

.title span {
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 54px;
    line-height: 58px;
    text-align: center;
    color:#FFFFFF
}

.frame-2 {
    width: 1077px;
    height: 126px;
    top: 564px;
    left: 422px;
    border-radius: 90px;
    padding: 40px;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-sizing: border-box;
}

#city {
    width: 700px;
    height: 46px;
    border-radius: 60px;
    padding: 15px 30px;
    gap: 10px;
    border: none;
    cursor: pointer;
}

#city::placeholder {
    width: 88px;
    height: 18px;
    font-family: "Urbanist", serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 16px;
    color: #003D9F;
}


.toggleButton {
    width: 86px;
    height: 40px;
    border-radius: 100px;
    background-color: #003D9F;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.toggleLabel {
    font-family: "Urbanist", serif;
    font-size: 19px;
    color: #FEFEFE;
    background-color: transparent;
    cursor: pointer;
    border: none;
    z-index: 2;
    padding: 0 8px;
    transition: background-color 0.1ms ease-in-out;
}

#unitToggle {
    font-family: "Urbanist", serif;
    width: 21px;
    height: 16px;
    top: 12px;
    padding: 0;
    left: 12px;
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    position: absolute;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: #FEFEFE;
}

.knob {
    width: 38px;
    height: 36px;
    top: 0px;
    left: 43px;
    margin: 0;
    position: relative;
    border-radius: 100px;
    background-color: #FFFFFF;
    transition: left 0.3s ease-in-out;
}

#search {
    width: 191px;
    height: 46px;
    border-radius: 60px;
    padding: 15px 70px;
    gap: 10px;
    background-color: #E6C705;
    border: none;
    cursor: pointer;
}

#search span {
    width: 51px;
    height: 16px;
    font-family: "Urbanist", serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
}

#weather {
    width: 1077px;
    height: 34px;
    top: 740px;
    left: 422px;
    justify-content: space-between;
    display: flex;
    position: relative;
    
}

#location {
    width: 128px;
    height: 34px;
    font-family: "Urbanist", serif;
    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

.content {
    width: 433px;
    height: 34px;
    gap: 55px;
    display: flex;
    
}

#temperature {
    width: 212px;
    height: 34px;
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
}

#description {
    width: 293px;
    height: 34px;
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    color: #FFFFFF;
    
}



ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 1077px;
    height: 585px;
    top: 804px;
    left: 422px;
    gap: 15px;
    position: relative;
    
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1077px;
    height: 60px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.2);
}

#fahrenheitLabel {
    visibility: hidden;
}

#forecast .forecast-time {
    width: 241px;
    height: 30px;
    font-family: "Urbanist", serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

#forecast #forecast-hour {
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    
}

.forecast-data {
    width: 379px;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.forecast-description {
    width: 252px;
    height: 30px;
    font-family: "Urbanist", serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.forecast-temp {
    width: 87px;
    height: 30px;
    font-family: "Urbanist", serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.forecast-unit {
    font-family: "Urbanist", serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
}

.desImg {
    width: 40px;
    height: 40px;
    justify-self: end;
}

footer {
    width: 1077px;
    height: 131px;
    top: 889px;
    text-align: center;
    left: 422px;
    position: relative;
    gap: 40px;
   
}

.footer.logo {
    width: 170px;
    height: 35px;
}

hr {
    width: 1077px;
    color: rgba(255, 255, 255, 0.2);
}

.footer-p {
    width: 1077px;
    height: 16px;
    font-family: "Urbanist", serif;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    color: #FFFFFF;
}
 

/*laptops */
@media (max-width: 1024px) {
    header, .frame-2, #forecast ul  {
      width: 90%; /* use a percentage so it scales */
      margin: 0 auto;
    }

    .frame-2 {
        padding: 20px;
        flex-direction: row;
    }
 
    #city {
      width: 80%;
    }
}

/*ipads*/
    
    @media (max-width: 768px)  {
        header {
          width: 95%;
          left: 2.5%;
          padding: 5px;
        }
        
        .title {
          font-size: 32px;
          top: 20%;
          left: 2.5%;
          width: 95%;
        }
        
        
        .frame-2 {
          width: 95%;
          left: 2.5%;
          padding: 15px;
          gap: 35px;
          flex-direction: column; /* Stack the search input and toggle vertically if needed */
} 
        
        #city {
          width: 70%;
          margin-bottom: 5px;
        }
        
        .toggleButton {
          width: 80px;  /* smaller toggle for mobile */
          height: 35px;
          left: 40%;
          bottom: 29%;
          left: 26%;
        }
        
        .knob {
          width: 32px;
          height: 30px;
        }
        
        #search {
          width: 54%;
          text-align: center;
          margin-top: -15%;
          margin-left: -15%; 
        }

       
         #weather {
                width: 90%;
                height: 34px;
                top: 740px;
                left: 54px;
                justify-content: space-between;
                display: flex;
                position: relative;
                
            } 

            .text-2 {
                width: 128px;
                height: 20px;
                top: 620px;
                left: 296px;
            }

        ul {
            display: flex;
            flex-direction: column;
            margin: 0 ;
            padding: 0;
            width: 90%;
            height: 585px;
            top: 804px;
            left: 2px;
            gap: 15px;
            position: relative;
      } 

      li {
        width: 100%;
      }

      html {
        background-color: #0D235E;
        height: 141%;
       }
    

       footer {
        width: 100%;
        left: 1px;
       }

       .footer-p {
        width: 1077px;
        height: 16px;
        font-family: "Urbanist", serif;
        font-weight: 300;
        font-size: 13px;
        line-height: 16px;
        text-align: center;
        color: #FFFFFF;
    } 

    hr{
        width: 70%;
    }

    .footer-p {
        width: 100%;
        height: 16px;
        
        font-weight: 300;
        font-size: 13px;
      
    }
} 

/* phones */ 

@media (max-width: 480px) {
    
header {
    width: 100%;
    left: 1px;
    top: 40px;
}

html, body {
    overflow-x: hidden;
  width: 100%;
}



.frame-2 {
   top: 500px;
   width: 95%;
   height: fit-content;
   margin: 0;
   gap: 10px;
  
}

#search {
    width: 43%;
    height: 46px;  
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin-right: 9%;
}



.toggleButton {
    margin-bottom: 1%;
    width: 20%;
    margin-right: 6%;
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.knob {
    margin-right: 10%;
}

 
#weather {
    width: 90%;
    height: 34px;
    top: 740px;
    left: 24px;
    
    justify-content: space-between;
    display: flex;
    position: relative;
    
} 

.text-2 {
    width: 128px;
    height: 20px;
    top: 620px;
    left: 126px;
}

ul {
    display: flex;
    flex-direction: column;
    margin: 0 ;
    padding: 0;
    width: 85%;
    height: 585px;
    top: 754px;
    left: 2px;
    gap: 15px;
    position: relative;
} 

li {
  max-width: 100%;
  overflow: scroll;
  white-space: nowrap;
}

.forecast-time {
    width: 290px;
    white-space: nowrap;
}

.forecast-data {
    width: 100%;
}




    
#weather {
    width: 95%;
    height: 134px;
    top: 700px;
    
}
.content {
    justify-content: space-between;
    gap: 0;
    width: 70%;
    flex-direction: column;
    align-items: center;
}

html {
    height: 115%;
}

#temperature {
    margin: 0;
}

#location {
    width: 34%;
    white-space: nowrap;
    
}


}
  

